<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet", href="/css/styles.css">
</head>
<body>
    Hellow World, This is EJS temple engine

    <div>
        <img class="bg-img" src="/images/premium_photo.png" alt="this is a picture">
    </div>
</body>
</html>